<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Bootstrap/Css/bootstrap.min.css">
    <link rel="stylesheet" href="Bootstrap/Css/Home.css">
    <title>Document</title>
</head>
<body id="body">
    <h1>Welcome</h1>
    <h2>Ok Bank ATM</h2>
    <a  href='CreateAccount' id="button">New Account</a>
    <a   href='moneytransferView'id="right">Money Transfor</a>
    <a  href="StatementView" id="button">Mini Statement</a>
    <a  href='Depositview' id="right">Deposit</a>
    <a  href="Withdrawalview" id="button">Withdrawal</a>
    <a  href="balance"id="right">Balnce Enquiry</a>

    <script src="Bootstrap/Js/bootstrap.min.js"></script>
</body>
</html>