<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Bootstrap/Css/bootstrap.min.css">
    <link rel="stylesheet" href="Bootstrap/Css/NewPinNumber.css">
    <script src="Bootstrap/js/Moneytransfer.js" defer></script>
    <title>Document</title>
</head>

<body id="body">
    <h1>Welcome</h1>
    <h2>Ok Bank ATM</h2>
    <form th:action="@{transferDetails}" method="post" id="form">
        <div th:text="${msg}" style="color: red;padding-bottom:5px;"></div>
        <div class="input-group">
            <laple for="Acnumber">The Account Number Of The Recipient<span id="important">*</span></laple>
            <input type="text" id="AcNumber" name="AcNumber">
            <div class="error"></div>
        </div>
        <div class="input-group">
            <laple for="Money">Transfer Amount<span id="important">*</span></laple>
            <input type="text" id="Money" name="Money">
            <div class="error"></div>
        </div>
        <button type="submit">Submit</button><br>

    </form>
    <script src="https://kit.fontawesome.com/0faddc1af8.js"></script>
    <script src="Bootstrap/Js/bootstrap.min.js"></script>
    <script>
        window.onload = function () {
            var input = document.getElementById('AcNumber');
            input.focus();
            input.select();
        }
        setTimeout(function () {
            window.location.href = "/Home";
        }, 40000)
    </script>
</body>

</html>