<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Bootstrap/Css/bootstrap.min.css">
    <link rel="stylesheet" href="Bootstrap/Css/NewPinNumber.css">
    <script src="Bootstrap/js/NewAccount.js" defer></script>
    <title>Document</title>
</head>

<body>
    <h1>Welcome</h1>
    <h2>Ok Bank ATM</h2>
    <form th:action="@{newAccount}" method="post" id="form">
        <div>
            <h3>Create New Account</h3>
        </div>
        <div class="input-group">
            <laple for="accountNumber">AccountNumber<span id="important">*</span></laple>
            <input type="text" id="accountNumber" name="accountNumber">
            <div class="error" th:text="${Error}"></div>
        </div>
        <div class="input-group">
            <laple for="name">Name<span id="important">*</span></laple>
            <input type="text" id="name" name="name">
            <div class="error"></div>
        </div>
        <div class="input-group">
            <laple for="phoneNumber">PhoneNumber<span id="important">*</span></laple>
            <input type="text" id="phoneNumber" name="phoneNumber">
            <div class="error"></div>
        </div>
        <button type="submit">Submit</button>
    </form>
    <script src="Bootstrap/Js/bootstrap.min.js"></script>
    <script>
        window.onload = function () {
            var input = document.getElementById('accountNumber');
            input.focus();
            input.select();
        }
        setTimeout(function () {
            window.location.href = "/Home";
        }, 180000)
    </script>
</body>

</html>