<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Bootstrap/Css/bootstrap.min.css">
    <link rel="stylesheet" href="Bootstrap/Css/NewPinNumber.css">
    <script src="Bootstrap/js/NewPinNumber.js" defer></script>
    <title>Document</title>
</head>

<body id="body">
    <h1>Welcome</h1>
    <h2>Ok Bank ATM</h2>
    <form th:action="@{pingenerate}" method="post" id="form">
        <div>
            <h3>generate yor pinNumber</h3>
        </div>
        <div class="input-group">
            <div class="error" th:text="${Error}"></div>
            <laple for="Accountnumber">AccountNumber<span id="important">*</span></laple>
            <input type="text" id="Accountnumber" name="Accountnumber">
            <div class="error"></div>
        </div>
        <div class="input-group">
            <laple for="pinNumber">New ATM Pin<span id="important">*</span></laple>
            <input type="text" id="pinNumber" name="pinNumber">
            <div class="error"></div>
        </div>
        <button type="submit">Submit</button>
    </form>
    <script src="Bootstrap/Js/bootstrap.min.js"></script>
    <script>
        window.onload = function () {
            var input = document.getElementById('Accountnumber');
            input.focus();
            input.select();
        }
        setTimeout(function () {
            window.location.href = "/Home";
        }, 120000)
    </script>
</body>

</html>